$component-bg: #262939; //client windows, error msg, client window, all messages
$highlight: #f1b630; //Erro message 'got it', channel & client highlights
$accent: #1b1e2a; // channels, client, disconnect, connect BOX color
$darkGray: #ffffff; //body background
$medGray: #f1b630; //client title labels, pub & sub

$accentDark: #f1b630; //FONT Channels, Clients, Connect/Disconnect & recent messages FONT
$highlightDark: #f1b630; //PUBLISHED, SUBSCRIBED in recent message
$dropdownColor: #30475e;

$clientWindowMsg: #ffffff;
$clientWindow: #373943;
$pushMsg: #4384f7;

$lightYellow: #ffd980; //Connect input highlight

$navBarHeight: 5em;
$borderpx: 5px;
$bigBorderpx: 15px;
$medBorderpx: 10px;
$smallBorderpx: 5px;
$marginHeader: 5px;
$bigBorderpx: 10px;
$medBorderpx: 7px;
$smallBorderpx: 5px;
$marginHeader: 5px;

$navBarHeight: 30px;

$boxShadowLabel: 2px 2px 3px #081c15;
$boxShadowInput: 4px 2px 4px #081c15;
$boxShadowBtn: 2px 2px 4px #081c15;
$clientWindowBoxShadow: 3px 3px 2px #081c15;

// $bg: #808c8d;
// $component-bg: lightgray;
// $highlight: #CF8EFA;
// $accent: #67cec2;
// $darkGray: #333838;
// $medGray: #b6c0c0;
// $accentMid: #235048;

// $lightYellow: #fdfe97;

// $accentDark: #273f3b;
// $highlightDark: #5A2A7A;
