@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,300&display=swap');
// Note font-family Poppins

body {
  background-color: $darkGray;
  font-family: 'Poppins', 'sans-serif';
  font-size: 0.9em;
}

button {
  padding: .3em;
  font-size: 100%;
}

input {
  padding: .3em;
}

.unhighlighted{
  padding: 0.2em;
  background-color: $component-bg;
  color: $accentDark;
  border: none;
}

.highlighted{
  padding: 0.2em;
  background-color: $highlight;
  color: $highlightDark;
  border: none;;
  
}

.highlighted:focus {
  // outline: $highlightDark solid .1em !important;
}

.primaryButton {
  background-color: $accent;
  color: $accentDark;
  border: none;
}

.secondaryButton {
  background-color: $component-bg;
  color: $accentDark;
  border: none;
}

.dropDown {
  padding: 0.25em;
  color: $dropdownColor;
  border: none;
  background-color: whitesmoke;
}

// .primaryButton:focus, .secondaryButton:focus {
//   // outline: $accentDark solid 0.1em ;
// }

// .logo {
//   background-color: purple;
//   width: 100px;
//   height: 30px;
// }

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
    .left {
      width: 130px;
      margin-top: 0.8em;

      .logo {
        // background-color: $accentDark;
        width: 100%;
        .logoImg {
          // border: 2px solid $accentDark;
          width: 100%;
        }
      }
      .channelLabel {
        background-color: $accent;
        color: $accentDark;
        width: 100%;
        font-size: 1.1em;
        text-align: center;
        margin-bottom: 0.5px;
        border-radius: $bigBorderpx;
        margin-bottom:$marginHeader;
        box-shadow: $boxShadowLabel;
        // border: 2px solid $accentDark;
      }
      .channel {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: stretch;
        
        .oneChannel {
          button {
            width: 100%;
            margin-top: 0.5px;
            margin-bottom: 0.5px;
            border-radius: $smallBorderpx;
            overflow-wrap: break-word;
          }
          
        }
      }
    }
    .middle {
      display: flex;
      flex-direction: column;
      max-width: 60em;
      align-items: center;
      .navBar {
        display: flex;
        flex-direction: row;
        
        padding-right: 1em;
        padding-left: 1em;
        margin-top: 0.5em;
        .navLeft {
          margin: 5px;
          .navLeftTop{
            display: flex;
            flex-direction: row;
            align-content: center;

            .serverInput {
              height: $navBarHeight;
              padding:0;
              border-top-left-radius: $borderpx;
              border-bottom-left-radius: $borderpx;
              box-shadow: $boxShadowInput;
              border: none;
              width: 9em;
            }  
            .serverPort {
              height: $navBarHeight;
              padding:0;
              border-top-left-radius: $borderpx;
              border-bottom-left-radius: $borderpx;
              box-shadow: $boxShadowInput;
              border: none;
              width: 9em;
              background-color: $lightYellow;
            } 
            // border: 2px solid $accentDark; 
            .primaryButton{
              vertical-align: middle;
              height: $navBarHeight;
              border-top-right-radius: $borderpx;
              border-bottom-right-radius: $borderpx;
              box-shadow: $boxShadowBtn;
              border:none;
            }

          }
        }
        .navCenter {
          margin: 5px;
          // border: 2px solid $accentDark;
          display: flex;
          flex-direction: row;
          align-content: center;
          .channelInput {
            height: $navBarHeight;
            padding-left: 0.3em;
            padding-right: 0.3em;
            padding-top: 0;
            padding-bottom: 0;
            border: none;
            box-shadow: $boxShadowInput;
            border-top-left-radius: $borderpx;
            border-bottom-left-radius: $borderpx;
          }
          .secondaryButton{
            height: $navBarHeight;
            padding-top: 0;
            padding-bottom: 0;
            border-top-right-radius: $borderpx;
            border-bottom-right-radius: $borderpx;
            box-shadow: $boxShadowBtn;
          }
        }
        .navRight {
          margin: 5px;
          display: flex;
          flex-direction: row;
          align-content: center;
          .dropDown{
            height: $navBarHeight;
            border-top-left-radius: $smallBorderpx;
            border-bottom-left-radius: $smallBorderpx;
            box-shadow: $boxShadowInput;
          }
          .secondaryButton{
            height: $navBarHeight;
            padding-top: 0;
            padding-bottom: 0;
            border-top-right-radius: $borderpx;
            border-bottom-right-radius: $borderpx;
            box-shadow: $boxShadowBtn;
          }
        }
      }
      .clientWindow {
        background-color: $component-bg;
        // max-width: 50em;
        width: 45em;
        margin-top: 2em;
        border-radius: $bigBorderpx;
        box-shadow: $clientWindowBoxShadow;
        .top {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          background-color: $accent;
          color: $accentDark;
          padding-left: 0.8em;
          padding-right: 0.8em;
          border-top-left-radius: $bigBorderpx;
          border-top-right-radius: $bigBorderpx;
          .clientLabel {
            margin-left: 10px;

          }
          
          #x {
            padding-left: 0.5em;
            padding-right: 0.5em;
            border-radius: $smallBorderpx;
            
          }
        }
        .center {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          
          .messageLogDisplay {
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            .clientWindowMessageLabel {
              margin-bottom: -5px;
              font-size: 13px;
              
            }
            .allMessages {
              background-color: $component-bg;
              max-width: 15em;
              max-height: 25em;
              overflow: scroll;
              overflow-x: hidden;
              margin-top: 10px;
              .messageBox {
                margin-bottom: 20px;
                font-size: smaller;
                color: $darkGray;
                padding-right: 15px;
                p {
                    margin-bottom: -12px;
                }
                .accentColor {
                  color: $accentDark;
                }
                .messageBoxType {
                  color: $highlightDark;
                  margin-top: 0px;
                }
                .bold {
                  font-weight: bolder;
                }
              }
            }
          }
          .clientWindowSubscribedLabel {
            margin-bottom: 4px;
            font-size: 13px;
          }
          .subList {
            background-color: $component-bg;
            margin: 0px;
            padding-inline-start: 25px;
          }
          .subscribedChannels {
            display: flex;
            flex-direction: column;
            padding-right: 10px;
            font-size: smaller;
            
          }
        }
        .bottom {
          display: flex;
          justify-content: center;
          padding-top: 0.5em;
          padding-bottom: 0.5em;
          * {
            margin-right: 0.2em;
            margin-left: 0.2em;
          }
          #actionBarInput {
            border: none;
            border-radius: $smallBorderpx;
          }
          #goButton {
            padding-right: .9em;
            padding-left: .9em;
            background-color: $highlight;
            color: whitesmoke; 
          }
          .dropDown{
            border-radius: $smallBorderpx;

          }
          .primaryButton{
            border-radius: $smallBorderpx;
          }
          .numClonesLabel {
            margin-left: 17px;
            font-size: smaller;
          }
          .numClonesInput {
            width: 35px;
            border: none;
          }
          .addCloneButton {
            border: none;
            background-color: $accent;
            padding-right: .9em;
            padding-left: .9em;
          }
        } 
      }
      .errorBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .errorComponents {
          display: flex;
          flex-direction: column;
          align-items: center;
          .errorBoxMessage {
            color: $component-bg;
          }
          #errorButton {
            width: 50%;
            font-size: smaller;
            background-color: $highlight;
          }
        }
      }
    }
    .right {
      width: 130px;
      margin-top: 0.8em;
      .clientMenu {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        // border: 2px solid $accentDark;
        .clientLabel {

          background-color: $accent;
          color: $accentDark;
          font-size: 1.1em;
          text-align: center;
          margin-bottom: $marginHeader;
          border-radius: $bigBorderpx;
          box-shadow: $boxShadowLabel;
        }
        .clientMiniLabel {
          font-size: 0.8em;
          text-align: center;
          background-color: $medGray;
          color: $darkGray;
          // padding-top: -2em;
          // padding-bottom: -2em;
          // border-bottom: 2px solid $accentDark;
          margin-top: 0.5px;
          margin-bottom: 0.5px;
          border-radius: $medBorderpx;
          // border-bottom: .1em solid $darkGray;
          .miniLabelText {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
          }
        }
        .oneClient {
          button {
            width: 100%;
            margin-top: 0.5px;
            margin-bottom: 0.5px;
            border-radius: $smallBorderpx;
          }
        }
      }
    }
  }

